
*{
    box-sizing: border-box;
    margin: 0;
}
#center{
text-align:center;
margin-bottom: 63px;
}
body{
    margin-left:30px ;
}
h1{
  font-size: 72px;
  margin-bottom: 53px;
}
#colorOrange{
    color: #FF8000;
    width: 1220px;
    font-size: 24px;
    margin: 0 auto;  
}

#cosmos{
    height: 415px;
}
#bigBenBox{
width: 680px;
margin-bottom: 101px;
}
#bigBenBox h2{
    color: darkgoldenrod;
    font-size: 40px;
    margin-bottom: 24px;
}
#bigBenBox p{
    color: #6D81B4;
    font-size: 24px;
    margin-bottom: 30px;
}
#darkHoleBox{
    text-align: center;
    background-color:  #FFCEBE;;
    width: 1007px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: chocolate solid 2px;
    border-right: chocolate solid 2px;
    padding: 64px;
    margin-bottom: 173px;
}
#darkHole{
    width: 879px;
    height: 415px;
}
#darkHoleBox p{
    color: #8B2B2C;
font-size: 20px;
width: 681px;
margin: 0 auto;
margin-top: 24px;
margin-bottom: 30px;
}
#darkHoleBox h2 {
    color: #F44E50;
    font-size: 40px;
}
#textRight{
text-align: right;
}
#pinkParagrap{
    color: #616161;
    border: 3px solid #FF5DA3;
    background-color: #FFC1E3;
    font-size: 24px;
    padding: 24px;
    color: #616161;
}
#stringTheoryBox{
    width: 696px;
}
#textRight h2{
    color: #4716E4;
    font-size: 40px;
    margin-bottom: 24px;
}
#stringTheoryList ul ::marker{
font-size: 25px;
color: black;
}
#stringTheoryList li{
    color: #C27512;
    font-size: 16px;
}
#stringTheoryList {
margin: 30px 0;
}
#stringTheoryList h2{
    font-size: 24px;
    margin: 16px 0;
}
#stringTheoryBox img{
    width: 100%;
    height:415px
}